
{% load staticfiles %}
<html>
<head>

    <script src="{% static 'js/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'js/mark.min.js' %}"></script>
    <script src="{% static 'js/dist/Chart.bundle.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}" ></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/tabs.css' %}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/grid-1080.css' %}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" type="text/css" media="screen" charset="utf-8" />
    <style>
    mark{
        background: orange;
        color: black;

    }
    .hideme
    {
        display:none;
        visibility:hidden;
    }
    {% block style %}{% endblock %}
    </style>


</head>
<body>

<div id="wrapper" class="span-12">
	<div id="pages">
		<ul>

            <li><a href="/pten/">Trial</a></li>
            <li><a href="/landscape/">LandScape</a></li>
            <li><a href="/validation/">Validation</a></li>

            <li><a >Beacon</a></li>
            <li><a href="/diff/">Diff Tool</a></li>
		</ul>
	</div>

	<div id="header" class="col last span-12">
		<h1><span class="amp"> Clinical </span> Trial</h1>
        {% if index %}
        <h3><span class="by">Index</span> {{ index.index_name }} <span class="by">Updated By</span> {{ index.update_date | date:"M d Y" }}</h3>
        {% endif %}
	</div>

        <div id="content" class="col span-10" >
		<div class="col last span-10">
		<h4>{% block title %}{% endblock %}</h4>
		</div>



            {% block content %}{% endblock %}


        </div>

    <div id="sidebar" class="col last span-2">

		{% block sidebar %}{% endblock %}

	</div>


	<div id="footer">
		<p id="foo"><em>P</em>TEN</p>

		<p>Copyright © 2016 PTEN Philips . All rights reserved.</p>
	</div>

    </div>

</body>
<script>{% block script %}{% endblock %}</script>
</html>