    {% extends "base.html" %}
    {% load staticfiles %}
    {% block head %}
    <script src="{% static 'js/dist/Chart.bundle.js' %}"></script>
    <style>
    .after_hl{
    color:red;
    position:absolute;
    background:none;
    display:inline-block;
    line-height:2;
    margin:-15px 0px 0px 0px;


    }
     .before_hl{
    background:#c4ffb3;
    }

    .context{

    }
    .box {
      font-family: monospace;
      font-size:15px;
      margin: 20px 20px 20px 20px;
      background: rgba(255,255,255,0.2);
      padding: 35px 35px 35px 35px;
      border: 2px solid #fff;
      line-height: 2.5;

      background-clip: padding-box;

    }

    </style>

    {% endblock %}

    {% block content %}

    <section class="featured" style="background:#6B7A8F">
                
                <div class="container">
                     <div class="row mar-bot40">
                        <div class="col-md-6 col-md-offset-3">
                                <div class="align-center">
                                <i class="fa fa-copy fa-5x mar-bot20"></i>
                                <h2 class="slogan">Diff Tool</h2>
                               


                            </div>
                        </div>

                    </div>
                </div>
                 
    
    </section>

    {% block sub_content %}{% endblock %}

<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">   
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
                <p class="color-white">Bootstraptaste</p>
            </div>
</section>

    {% endblock %}